@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.typing-animation{
    overflow: hidden;
}

.typing-animation .text{
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
}

.text.second-part:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

@media(prefers-reduced-motion){
    .text.second-part:before {
        animation: none;
    }
}

.text-container {
    max-width: 800px;
    padding: 20px;

    border-right: 1px solid black;
    border-left: 1px solid black;
}

